body{
    background-color: #DAF1F6;
    height: 100vh;
    cursor: none;
}
.app-cursor-dot{
width: 5px;
height: 5px;
background-color: rgb(0, 0, 0);
}
.app-cursor-outline{
    width: 20px;
    height: 20px;
    background-color:  hsl(0, 0%, 100%);
    mix-blend-mode: difference;
}
.app-cursor-dot,.app-cursor-outline {
    position: fixed;
    top:0px;
    left: 0px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}
@font-face {
    font-family: 'Doky';
    src: url('https://raw.githubusercontent.com/Rahmn-Dev/W2Pdf/main/app/templates/font/a/0x1101/D2.otf')
  }
@font-face {
    font-family: 'GLAMORA';
    src: url('https://raw.githubusercontent.com/Rahmn-Dev/W2Pdf/main/app/templates/font/a/0x1101/G1.otf')
  }
@font-face {
    font-family: 'Borunafont';
    src: url('https://raw.githubusercontent.com/Rahmn-Dev/W2Pdf/main/app/templates/font/a/0x1101/B1.otf')
  }
section{
    height: 100vh;
}
#bmicalculatortext{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 125px;
    margin-bottom: 125px;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  #logo{
    text-decoration:none;
  }
#scrolldown{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
#description{
  padding-top: 100px;
}
#form-custom{
    background-color: #6da8c8;
    border-radius: 20px;
    padding: 20px;
    color: white;
}
#second{
  display: none;
}
#third{
  display: none;
}
#next-1{
  background-color: white;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
#next-1:hover{
  background-color: black;
  color: white;
  font-weight: 500;
}
#next-2{
  background-color: white;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
#next-2:hover{
  background-color: black;
  color: white;
  font-weight: 500;
}
#prev-1{
  background-color: white;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
#prev-1:hover{
  background-color: black;
  color: white;
  font-weight: 500;
}
.choose-gender{
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}
#dicenterin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-check-input:checked{
  background-color: #6da8c8;
  border-color: #DAF1F6;
}